.container:after {
    content: '';
    position: absolute;
    height: 40%;
    width: 100%;
    background: #116699;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.base64 {
    overflow-x: hidden;
    overflow-y: auto;
    height: 340px;
    border: 1px solid rgba(139, 139, 139, 0.39);
    border-radius: 5px;
    padding: 3px;
}

.imagem {
    max-height: 430px;
    border-radius: 5px;
}

p.base64 {
    color: rgb(73, 73, 73);
    background: #e9ecef;
}

.embed {
    width: 100%;
    min-height: 65vh;
}

.base64-decode {
    width: 100%;
    height: 435px;
}